camel-cxf-geocoder-example/src/main/resources/wsdl/geo-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:gs="http://www.bushorn.com/camel/geo-service/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="geo-service"
	targetNamespace="http://www.bushorn.com/camel/geo-service/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.bushorn.com/camel/geo-service/">
			<xsd:element name="GeoServiceRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="address" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GeoServiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="details" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GeoServiceRequest">
		<wsdl:part element="gs:GeoServiceRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GeoServiceResponse">
		<wsdl:part element="gs:GeoServiceResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="geo-service">
		<wsdl:operation name="GeoService">
			<wsdl:input message="gs:GeoServiceRequest" />
			<wsdl:output message="gs:GeoServiceResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="geo-serviceSOAP" type="gs:geo-service">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GeoService">
			<soap:operation soapAction="http://www.bushorn.com/camel/geo-service/address" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="geo-service">
		<wsdl:port binding="gs:geo-serviceSOAP" name="geo-serviceSOAP">
			<soap:address location="http://www.bushorn.com/camel/geo-service/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
